
header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
}

nav {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    padding-top: 0.5rem;
}

nav a {
    text-decoration: none;
    color: #000;
    font-weight: bolder;
    margin-top: 0.1rem;
    font-size: 1.2rem;
}

nav a:hover, nav a:focus {
    color: #068606;
    border-radius: 10px;
    transition: ease-in-out;
    transition-duration: .3s;

}


header button {
    background-color:#068606   ;
    border: 2px double green;
    padding: 2px 9px;
    border-radius: 10px;
    color: white;
    font-weight: bolder;
    margin-top: -10;
    font-size: 0.9rem;
}

header button:hover {
    transition: ease-in-out;
    transition-duration: .3s;
    background-color: white;
    color: #068606;
    border: 2px double #068606;
}
    